<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Steal Ryan's Money - Choose Role</title>
  <link rel="stylesheet" href="/css/srm.css" />
</head>
<body>
  <h1>Steal Ryan's Money</h1>
  <div class="role-container">
    <button id="dealer-btn">Join as Dealer</button>
    <button id="player-btn">Join as Player</button>
  </div>

  <script src="/js/chooseRole.js"></script>
</body>
</html>